/* NAVBAR */

/* Logo */
.logo img {
  height: 10vh;
  width: 18vw;
  padding-bottom: 1%;
}

/* QUESTIONS */
.content-questions {
  background: white;
}
.top-part-questions {
  background: #6ea5a5;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.questions {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5% 15%;
  background: white;
}

.questions h4 {
  font-size: 2.5vh;
  color: #4b6ebd;
  padding-bottom: 3%;
}

.questions p {
  font-size: 2.5vh;
  color: rgb(44, 43, 43);
  padding-bottom: 3%;
}
/* ABOUTUS */

.fondo-aboutus {
  background: url("images/aboutus-fondo.jpeg");
}

.contenido-aboutus {
  background: white;
  margin: 5% 15%;
  padding: 5%;
}
.contenido-aboutus h2 {
  font-size: 30px;
  padding-bottom: 3%;
  text-align: center;
}

.contenido-aboutus p {
  text-align: justify;
  color: rgb(44, 43, 43);
  font-size: 18px;
}

/* LOGIN & SIGNUP*/
.login-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 9%;
  padding-bottom: 6%;
  background: #c7d3e9;
}

.form-login {
  width: 500px;
  margin: 10%;
}

.login-img img {
  width: 100%;
  height: 150px;
}

.login-form-button {
  width: 100%;
  margin: 8px 0;
}

.form-login p {
  text-align: center;
}

/* FORMULARIOS */

.edit-form {
  width: 80%;
  background: #f5f5f5;
}

.div_form_principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 6%;
  background: #f5f5f5;
}

.div_form_product {
  width: 600px;
  border-radius: 5px;
  background-color: white;
  padding: 30px;
}

.div_form_product input[type="text"],
input[type="number"],
input[type="file"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: white;
}

.div_form_product select {
  width: 100%;
  height: 47px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.div_form_product input[type="submit"] {
  width: 100%;
  background-color: #60a5a5;
  color: rgb(59, 58, 58);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.div_form_product input[type="submit"]:hover {
  background-color: #71a7a7;
}

/* DETALLE DE PRODUCTO */

.flex {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 10px 10px 5px -8px rgba(199, 199, 199, 1);
}
.back {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 50px 0;
}
.product-detail {
  padding: 5%;
}
.product-detail h3 {
  font-size: 36px;
  margin-bottom: 0;
}
.product-detail hr {
  width: 150px;
  height: 2px;
  border: none;
  background-color: #60a5a5;
  margin-left: 0;
}
.descript {
  margin: 30px 0;
  font-size: 18px;
}
.price {
  font-size: 18px;
  font-weight: bolder;
}
.detail-photo {
  width: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 1s ease;
}
.detail-photo img {
  width: 80%;
  margin-left: 10%;
}
.detail-photo img:hover {
  transform: scale(1.1);
}

/* CARRITO DE COMPRAS */
.cart-table {
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
}

.cart-table table {
  width: 100%;
  border: black;
}

.cart-table th,
td {
  border: 2px solid #adacac;
}

.cart-table th {
  font-size: 20px;
  text-align: center;
  background-color: #6ca5a5c2;
  height: 50px;
}

.cart-table td {
  height: 40px;
  padding-left: 2px;
}
.cart-table tr:nth-child(even) {
  background-color: rgb(228, 226, 226);
}

/* HOME */
.home-cover {
  /* background: url("./images/Fondo.png");
  background-repeat: no-repeat; */
  width: 100%;
  height: 400px;
}

.home-cover img {
  width: 100%;
  height: 400px;
}

.caracteristicas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.caracteristicas div {
  width: 50%;
  height: 50%;
}

.contacto div:hover {
  transform: scale(1.1);
}

.contacto {
  background: url("./images/Fondo2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 6%;
}

.contacto div {
  background: rgba(248, 246, 246, 0.644);
  border-radius: 5px;
  padding: 25px;
  width: 300px;
  height: 250px;
}

.contacto h2 {
  text-align: center;
  padding-bottom: 10px;
}

.dir {
  padding-left: 18px;
  padding-top: 30px;
}

.tel {
  padding-left: 60px;
  padding-top: 40px;
}

.hr {
  padding-left: 78px;
  padding-top: 5px;
}

.prod {
  background-color: rgba(22, 21, 21, 0.561);
}
/* PROFILE */

.fondo-profile {
  background: #f5f5f5;
}
.card-profile {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
