/* NAVBAR */

/* Logo */
.logo img {
  height: 10vh;
  width: 18vw;
  padding-bottom: 1%;
}

/* Carousel */

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #c7d3e9;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel_div2 {
  background-image: url("images/Fondo_Home_1.jpeg");
  background-repeat: no-repeat;
  background-size: 901px 417.19px;
  /* width: 100%;
  height: 100%; */
}

/* QUESTIONS */
.content-questions {
  background: white;
}
.top-part-questions {
  background: #e57d6b;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.questions {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5% 15%;
  background: white;
}

.questions h4 {
  font-size: 2.5vh;
  color: #4b6ebd;
  padding-bottom: 3%;
}

.questions p {
  font-size: 2.5vh;
  color: rgb(44, 43, 43);
  padding-bottom: 3%;
}
/* ABOUTUS */

.fondo-aboutus {
  background: url("images/aboutus-fondo.jpeg");
}

.contenido-aboutus {
  background: white;
  margin: 5% 15%;
  padding: 5%;
}
.contenido-aboutus h2 {
  font-size: 4vh;
  padding-bottom: 3%;
  text-align: center;
}

.contenido-aboutus p {
  text-align: justify;
  color: rgb(44, 43, 43);
  font-size: 2.4vh;
}

/* LOGIN & SIGNUP*/
.login-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 9%;
  padding-bottom: 6%;
  background: #c7d3e9;
}

.form-login {
  width: 500px;
  margin: 10%;
}

.login-img img {
  width: 100%;
  height: 150px;
}

.login-form-button {
  width: 100%;
  margin: 8px 0;
}

.form-login p {
  text-align: center;
}

/* FORMULARIOS */

.edit-form {
  width: 80%;
  background: #e9ebeb;
}

.div_form_principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 6%;
  background: #d2dad6d8;
}

.div_form_product {
  width: 600px;
  border-radius: 5px;
  background-color: #f7ebe0;
  padding: 30px;
}

.div_form_product input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: white;
}

.div_form_product input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.div_form_product select {
  width: 100%;
  height: 47px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.div_form_product input[type="submit"] {
  width: 100%;
  background-color: #62fabad8;
  color: rgb(59, 58, 58);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.div_form_product input[type="submit"]:hover {
  background-color: #8bf3c8b7;
}
